*::before *::after{
  box-sizing: border-box;
  margin: 0;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
  
}

h1 {
    color: var(--primary-500);
    font-family: var( --titles-title-font-family);
    font-size:var(--titles-title-font-size); 
    font-style: var(--titles-title-font-style);
    font-weight: var(--titles-title-font-weight);
    letter-spacing: var(--titles-title-letter-spacing);
    line-height: var(--titles-title-line-height);
    margin: 0px;
   
}

h3 {
  font-family: var( --titles-subtitle-font-family);
  font-size:var(--titles-subtitle-font-size); 
  font-style: var(--titles-subtitle-font-style);
  font-weight: var(--titles-subtitle-font-weight);
  letter-spacing: var(--titles-subtitle-letter-spacing);
  line-height: var(--titles-subtitle-line-height);
  margin: 0px;
   
}