.courses-conatiner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100%;
        padding: 32px;
        gap: 32px;
}

.enrolled-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 24px;
}
.recommended-section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        gap: 24px;
        overflow-y:scroll ;
}

.course-title {
        color: var(--primary-500);
        font-family: var( --headings-heading-font-family);
        font-size:var(--headings-heading-font-size); 
        font-style: var(--headings-heading-font-style);
        font-weight: var(--headings-heading-font-weight);
        letter-spacing: var(--headings-heading-letter-spacing);
        line-height: var(--headings-heading-line-height);
        text-align: left;
        width: 100%;
}

.divider {
        content: '';
        background-color: var(--primary-500);
        height: 4px;
        width: 100%;
        border-radius: 2px;
}