.course-form-wrapper{
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 25vh;
        left: 40vw;
        height: 480px;
        width: 600px;
        z-index: 1000;
}

.Select-field {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 14px 16px;
        color: var(--primary-700);
        font-family: var(--body-base-font-family);
        font-size: var(--body-base-font-size);
        font-style: var(--body-base-font-style);
        font-weight: var(--body-base-font-weight);
        letter-spacing: var(--body-base-letter-spacing);
        line-height: var(--body-base-line-height);
}