.mvp-feature {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 48px 0px;
        gap: 115px;
        border-radius: 10px;
        background-color: transparent;
        
      }
      
      .mvp-feature.swapped {
        flex-direction: row-reverse;
      }
      
      .mvp-feature-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 412px;
        height: 312px;
        gap:12px;
        margin: 48px 0px;
      }
      
      .mvp-feature-text h2 {
        color: var(--primary-800);
        font-family: var( --headings-heading-font-family);
        font-size: var(--headings-heading-font-size); 
        font-style: var(--headings-heading-font-style);
        font-weight: var(--headings-heading-font-weight);
        letter-spacing: var(--headings-heading-letter-spacing);
        line-height: var(--headings-heading-line-height);
        text-align: left;
      }
      
      .mvp-feature-text p {
        color: var(--black-300);
        font-family: var( --body-base-font-family);
        font-size: var(--body-base-font-size); 
        font-style: var(--body-base-font-style);
        font-weight: var(--body-base-font-weight);
        letter-spacing: var(--body-base-letter-spacing);
        line-height: var(--body-base-line-height);
        text-align: left;
      }
      
      .mvp-feature-illustration {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .mvp-feature-illustration img {
        max-width: 100%;
        max-height: 200px;
        object-fit: contain;
       
      }
      